<!DOCTYPE html>
{% extends "football_website/base.html" %}
{% block content %}
<html>
    <head>

    </head>
    
        <body>
            <h2 align="center">{{player_name.0}}</h2>
            <style>
                /* Center the table horizontally */
                table {
                  margin: 0 auto;
                }
                
            </style>



            
                
                {% for info in player_info %}
                <table border="1">
                <tr>
                    <th colspan="13">Date: {{ info.date|date:"F j, Y" }}</th>
                  </tr>
                  <tr>
                    
                    <td align="center">Player Fifa Api Id</td>
                    <td align="center">Overall Rating</td>
                    <td align="center">Potential</td>
                    <td align="center">Preferred Foot</td>
                    <td align="center">Attacking Work Rate</td>
                    <td align="center">Defensive Work Rate</td>
                    <td align="center">Crossing</td>
                    <td align="center">Finishing</td>
                    <td align="center">Heading Accuracy</td>
                    <td align="center">Short Passing</td>
                    <td align="center">Volleys</td>
                    <td align="center">Dribbling</td>
                    <td align="center">Curve</td>
                  </tr> 
                    <tr>
                    <td align="center">{{info.player_fifa_api_id}}</td>                     
                    <td align="center">{{info.overall_rating}}</td>     
                    <td align="center">{{info.potential}}</td>
                    <td align="center">{{info.preferred_foot}}</td>     
                    <td align="center">{{info.attacking_work_rate}}</td>
                    <td align="center">{{info.defensive_work_rate}}</td>
                    <td align="center">{{info.crossing}}</td>
                    <td align="center">{{info.finishing}}</td>
                    <td align="center">{{info.heading_accuracy}}</td>
                    <td align="center">{{info.short_passing}}</td>
                    <td align="center">{{info.volleys}}</td>
                    <td align="center">{{info.dribbling}}</td>
                    <td align="center">{{info.curve}}</td>
                    
                    </tr>
                    <tr>
                    <td align="center">Free Kick Accuracy</td>
                    <td align="center">Long Passing</td>
                    <td align="center">Ball Control</td>
                    <td align="center">Acceleration</td>
                    <td align="center">Sprint Speed</td>
                    <td align="center">Agility</td>
                    <td align="center">Reactions</td>
                    <td align="center">Balance</td>
                    <td align="center">Shot Power</td>
                    <td align="center">Jumping</td>
                    <td align="center">Stamina</td>
                    <td align="center">Strength</td>
                    <td align="center">Long Shots</td>
                    </tr>
                    <tr>
                    <td align="center">{{info.free_kick_accuracy}}</td>
                    <td align="center">{{info.long_passing}}</td>
                    <td align="center">{{info.ball_control}}</td>
                    <td align="center">{{info.acceleration}}</td>
                    <td align="center">{{info.sprint_speed}}</td>
                    <td align="center">{{info.agility}}</td>
                    <td align="center">{{info.reactions}}</td>
                    <td align="center">{{info.balance}}</td>
                    <td align="center">{{info.shot_power}}</td>
                    <td align="center">{{info.jumping}}</td>
                    <td align="center">{{info.stamina}}</td>
                    <td align="center">{{info.strength}}</td>
                    <td align="center">{{info.long_shots}}</td>
                    </tr>
                    <tr>
                    <td align="center">Aggression</td>
                    <td align="center">Interceptions</td>
                    <td align="center">Positioning</td>
                    <td align="center">Vision</td>
                    <td align="center">Penalties</td>
                    <td align="center">Marking</td>
                    <td align="center">Standing Tackle</td>
                    <td align="center">Sliding Tackle</td>
                    <td align="center">Gk Diving</td>
                    <td align="center">Gk Handling</td>
                    <td align="center">Gk Kicking</td>
                    <td align="center">Gk Positioning</td>
                    <td align="center">Gk Reflexes</td>
                    </tr>
                    <tr>
                    <td align="center">{{info.aggression}}</td>
                    <td align="center">{{info.interceptions}}</td>
                    <td align="center">{{info.positioning}}</td>
                    <td align="center">{{info.vision}}</td>
                    <td align="center">{{info.penalties}}</td>
                    <td align="center">{{info.marking}}</td>
                    <td align="center">{{info.standing_tackle}}</td>
                    <td align="center">{{info.sliding_tackle}}</td>
                    <td align="center">{{info.gk_diving}}</td>
                    <td align="center">{{info.gk_handling}}</td>
                    <td align="center">{{info.gk_kicking}}</td>
                    <td align="center">{{info.gk_positioning}}</td>
                    <td align="center">{{info.gk_reflexes}}</td>

                    
                  </tr>
                </table>
                  <br>
                  <br>
                  
                  
                {% endfor %}
              

        </body>
        {%endblock%}
</html>