{% extends "football_website/base.html" %}
{% load static %}
{% block title %}EuroSoccer{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/league.css' %}">
{% endblock %}


{% block content %}
<div class="league-outer">
    <h2>{{league.name}} -{{country_name}}</h2>
      <hr />
      <table class="team-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Team</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>F</th>
                <th>A</th>
                <th>Pts</th>
                <th>Avg Pts</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr class="{% if forloop.counter|divisibleby:2 %}light-background{% else %}dark-background{% endif %}">
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'football_website:team_page' team_id=team.id %}">{{ team.name }}</a></td>
                    <td>{{ team.wins }}</td>
                    <td>{{ team.draws }}</td>
                    <td>{{ team.losses }}</td>
                    <td>{{ team.goals_scored }}</td>
                    <td>{{ team.goals_conceded }}</td>
                    <td>{{ team.points }}</td>
                    <td>{{ team.avg_points }}</td>
                    <td><button class="fav" data-team-id="{{ team.id }}"><i class="fa fa-star-o" aria-hidden="true"></i></button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
      $('.fav').click(function () {
          var teamId = $(this).data('team-id');
          var username = '{{ request.session.username }}';  
          var url = '/add_favorite_team/' + teamId + '/' + username + '/';
          $.post({
              url: url,
              data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
              success: function (data) {
                  alert(data.message);
              },
              error: function () {
                  alert('Please login to add favorites.');
              }
          });
      });
  });
</script>

{% endblock %}