<!DOCTYPE html>
<html>
    <head>
    </head>
        <body>



    <li>{{player_info.id}}-
        {{player_info.player_fifa_api_id}}-
        {{player_info.player_api_id}}-
        {{player_info.date}}-
        {{player_info.overall_rating}}-
        {{player_info.potential}}-
        {{player_info.preferred_foot}}-
        {{player_info.attacking_work_rate}}-
        {{player_info.defensive_work_rate}}-
        {{player_info.crossing}}-
        {{player_info.finishing}}-
        {{player_info.heading_accuracy}}-
        {{player_info.short_passing}}-
        {{player_info.volleys}}-
        {{player_info.dribbling}}-
        {{player_info.curve}}-
        {{player_info.free_kick_accuracy}}-
        {{player_info.long_passing}}-
        {{player_info.ball_control}}-
        {{player_info.acceleration}}-
        {{player_info.sprint_speed}}-
        {{player_info.agility}}-
        {{player_info.reactions}}-
        {{player_info.balance}}-
        {{player_info.shot_power}}-
        {{player_info.jumping}}-
        {{player_info.stamina}}-
        {{player_info.strength}}-
        {{player_info.long_shots}}-
        {{player_info.aggression}}-
        {{player_info.interceptions}}-
        {{player_info.positioning}}-
        {{player_info.vision}}-
        {{player_info.penalties}}-
        {{player_info.marking}}-
        {{player_info.standing_tackle}}-
        {{player_info.sliding_tackle}}-
        {{player_info.gk_diving}}-
        {{player_info.gk_handling}}-
        {{player_info.gk_kicking}}-
        {{player_info.gk_positioning}}-
        {{player_info.gk_reflexes}}</li>

        </body>
</html>