<!DOCTYPE html>
<html>
    <head>
    </head>
        <body>
<form method="get" action="{% url 'football_website:player_page' %}">
    <input type="text" name="search" placeholder="Search by name" value="{{ search_query }}">
    <button type="submit">Search</button>
</form>

{% for player in players %}
<li><a href="{% url 'football_website:player_info' player_id=player.id %}">{{ player.player_name }}</a> - {{ player.player_fifa_api_id }} - {{ player.birthday }}</li>

{% endfor %}
        </body>
</html>